body {
  font-family: Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

footer {
  background: #f1f1f1;
}

h1,
h2 {
  font-size: 2em;
}

button {
  cursor: pointer;
}

p {
  max-width: 700px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}
